@import "variables";

#contact {
  text-align: center;
  min-height: 100%;

  h2 {
    color: $logo-orange;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  h4 {
    color: $logo-orange;
    font-weight: bold;
  }

  .contact-container {
    @include dflex();
    max-width: 700px;
    text-align: left;
    border-radius: 4px;
    padding: 20px;
    margin: auto;
    background-color: white;
    @include box-shadow-pref();

    #gatling-map {
      @include flex(3);
    }

    .contact-content {
      @include dflex();
      @include flex(2);
      @include flex-direction(column);
      margin-left: 30px;

      .contact-text {
        font-size: 13px;
      }

      .schedule {
        font-style: italic;
        font-size: 10px;
      }

      .contact-follow {
        @include dflex();
        @include flex-wrap(wrap);
        a {
          padding: 1px;
          margin: 0 5px;
        }
      }
    }
  }
}

#gatling-map {
  position: relative;
  height: 330px;
}