@import 'variables';

section#improve {
  background-color: $logo-orange;
  @include box-shadow-pref();
  position: relative;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  z-index: 2;
  cursor: pointer;
  @include user-select();
  @include transition(all 200ms ease);

  &:hover {
    background-color: #f4851d;
  }

  .content-wrapper {
    padding: 8px 15px;
    position: relative;

    font-size: 2.3em;
    font-weight: bold;

    text-align: center;

    span {
      color: white;
    }
  }
}
