@import 'variables';

footer.offers {
  background-color: #efefef;
  font-size: 1.2em;
  padding-bottom: 60px;
  padding-top: 1em;

  .btn-contact {
    background-color: $logo-orange;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 1.2em;
    vertical-align: baseline;

    &:hover {
      background-color: $background-orange-light;
    }
  }
}

#offers {

  h2 {
    margin-bottom: 30px;
  }

  .btn-contact {
    background-color: $logo-middle-green;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    vertical-align: baseline;

    &:hover {
      background-color: $logo-light-green;
    }
  }

  .btn-consulting-form {
    background-color: $logo-orange;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    vertical-align: baseline;

    &:hover {
      background-color: $background-orange-light;
    }
  }

  table {
    table-layout: fixed;
  }

  .fixed-width {
    width: 20%;
  }

  thead, tbody {
    tr {
      th, td {
        padding: 4px 8px;
      }

      th, td {
        &.sub-title {
          padding-left: 24px;
        }

        &.community {
          font-weight: normal;
          border-left: 2px solid $logo-orange;
          text-align: center;
        }

        &.silver_gold {
          background-color: #f9f9f9;
          border-left: 1px solid $logo-orange;
          color: $logo-orange;
          text-align: center;
        }

        &.platinium {
          background-color: $logo-orange;
          color: white;
          text-align: center;
        }
      }
    }
  }

  tbody {
    border-top: 2px solid $logo-orange;
  }

  table, table + p {
    margin-top: 40px;
  }
}

.pricing-container {
  width: 100%;
  height: 540px;
  display: flex;
}

.pricing {
  flex: 1;
  display: flex;
  flex-direction: column;

  .pricing-block {
    background: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3), 0 -1px 2px rgba(0,0,0,0.1);
    transition: all 200ms ease-out;
    display: flex;
    flex: 1;
    margin: 10px;
    border-radius: 2px;
    padding: 15px;

    .pricing-content {
      flex: 1;
      text-align: center;
    }

    .pricing-title {
      font-size: 18px;
      color: #cd6b00;
    }

    .pricing-price {
      margin: 5px 0 0 0;
      font-size: 30px;
      font-weight: bold;
    }

    .pricing-price-sub {
      margin: 0 0 5px 0;
      color: #808080;
      font-style: italic;
      font-size: 14px;
      min-height: 25px;
    }


    .pricing-licence-info {
      position: relative;
      display: inline-flex;
      align-items: center;
      @include justify-content(center);
      cursor: pointer;

      .pricing-popover {
        z-index: 100;
        position: absolute;
        bottom: 50px;
        left: 0;
        width: 200px;
        padding: 15px;
        border-radius: 4px;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        pointer-events: none;
        opacity: 0;
        font-size: 0.7em;
        text-align: left;
        @include box-shadow(0 4px 12px rgba(0,0,0,0.5), 0 -1px 2px rgba(0,0,0,0.1));
        @include transition(all 300ms ease);
      }

      &:hover .pricing-popover {
        opacity: 1;
        bottom: 30px;
      }
    }

    &:hover {
      box-shadow: 0 4px 12px rgba(0,0,0,0.5), 0 -1px 2px rgba(0,0,0,0.1);
      transform: scale(1.02);
    }

  }

  .pricing-button {
    margin: 10px;
    height: 37px;
    background: $logo-orange;
    @include box-shadow((0 2px 6px rgba(0,0,0,0.3), 0 -1px 2px rgba(0,0,0,0.1)));
    @include transition(all 200ms ease-out);
    border-radius: 2px;
    color: white;
    font-size: 23px;
    font-weight: bold;
    display: flex;

    span {
      margin: auto;
    }

    &:hover {
      background: #E78B23;
    }

    &.green {
      background-color: #848f00;
      &:hover {
        background-color: #9FAC00;
      }
    }

    &:hover {
      box-shadow: 0 4px 12px rgba(0,0,0,0.4), 0 -1px 2px rgba(0,0,0,0.1);
      cursor: pointer;
    }
  }
}

#definitions {
  min-width: 0;
  max-width: 822px;
  max-height: 50px;
  padding: 5px 15px 15px 15px;
  margin: 20px auto 0 auto;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  @include user-select(none);
  @include transition(all 400ms ease);

  i {
    @include transition(all 200ms ease);
    @include transform(rotate(0deg));
  }

  .open-button {
    margin-bottom: 15px;
    font-style: italic;

    i {
      display: block;
    }
  }

  .content {
    text-align: left;
    .title {
      font-weight: bold;
    }
  }

  &.opened {
    max-height: 570px;
    i {
      @include transform(rotate(-180deg));
    }
  }
}