@import 'variables';

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: transparent;
  color: $default-color;
  font-family: 'Maven Pro', sans-serif;
  font-size: 16px;

  &.home {
    section,
    footer {
      min-width: 790px;
    }

    .nav {
      .active {
        background-color: $highlight-background-color;
      }
    }
  }

  .body-content {
    padding-top: 48px;
    height: 100%;
  }
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
}

a img {
  border: none;
}

img {
  max-width: 100%;
}

header, section, footer {
  .content-wrapper {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
  }
}

.row-fluid {
  display: table;
  min-height: 30px;
  width: 100%;
}

.clickable:hover {
  cursor: pointer;
}

.text-orange {
  color: $logo-orange;
}
