@mixin box-shadow-pref() {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5), 0 -1px 2px rgba(0, 0, 0, 0.1);
}

@mixin placeholder($color) {

  ::-webkit-input-placeholder {
    color: $color;
  }

  ::-moz-placeholder {
    color: $color;
  }

  :-ms-input-placeholder {
    color: $color;
  }
}

@mixin transition($what: all 200ms ease-out) {
  transition: $what;
}
