@import 'variables';

#presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;

  .presentation-title {
    border-bottom: 1px solid #eee;
    color: $logo-orange;
    margin-top: 70px;
    text-align: left;
  }

  .presentation-element {
    align-items: center;
    background-color: white;
    display: flex;
    justify-content: center;
    max-width: 850px;
    margin: 0 auto auto auto;
    padding: 20px;
    width: 100%;

    .presentation-content {
      max-width: 650px;
      padding: 20px;

      .presentation-elem-title {
        color: $logo-orange;
      }

      h2 {
        margin-top: 0;
      }
    }

    .img-container {
      max-width: 200px;
      width: 100%;
    }

    .presentation-img {
      height: 100%;
      width: 100%;
    }
  }
}